mixin face(face, words, name)
  li.face(style="background-image: url(#{face});")
    .bubble
      p #{words}
      cite - #{name}

section.beoordelingen#beoordelingen
  .flex.flex--center
    .col-1
      ul.faces
        +face("assets/img/faces/face1.jpg","Ja weet je Nadine is gewoon super chill. Altijd alles in orde en kinderen zijn stil. Meer vraag ik niet.","Borre de Beer")
        +face("assets/img/faces/face2.jpg","JAAAAAA IK BEN ENTHOUSIAST! OVER ALLES!! KIJK NAAR M'N GEZICHT DAN AAAAAAAAAAAAAAAA","Shoebie Shoewap")
        +face("assets/img/faces/face3.png","Nadine is niet alleen de beste, maar ook de leukste, mooiste en liefste docente van de wereld!","Max de Ruiter")
        +face("assets/img/faces/face4.jpg","Ik weet niet wat ik hier doe.","Facey mcFace")
        +face("assets/img/faces/face5.jpg","Ik draag graag petten. Ik heb er heel veel. Je zou kunnen zeggen dat ik een verzamelaar ben, haha.","Ik heb een Pet")
        +face("assets/img/faces/face6.jpg","Ik koop alles van Apple. Als er een appeltje op staat, koop ik het. Ik heb mijn naam zelfs veranderd in die van mijn grote idool. Oke ik ga weer want m'n skinny latte is op.","Stevey Jobs")
        li.back-btn.face
        
        
    .col-1
      p.home-lead.outdented ...en haar beoordelingen...
      a(href="").home-cta Alle beoordelingen
